@use "sass:color";

$radius: 10px;
$font-size: 12pt;
$spacer: 6px;

window.bar {
  background-color: transparent;
	margin-left: 9px;
	margin-right: 9px;
	margin-bottom: 9px;
  color: $fg;
  font-size: $font-size;

  box.left {
    padding: 2px $spacer 2px 0;
    border-radius: 10px;
    background-color: $bg;
    .notes {
      margin: 0 0 0 $spacer
    }
  }

  box.center {
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    background-color: $bg;
    .workspaces {

      button {
        all:unset;
        margin: 0 3px 0 3px;
      }
      .workspace-focused {
        color: $accent1;
      }
    }
  }

  box.right {
    padding: 2px 0 2px $spacer;
    border-radius: 10px;
    background-color: $bg;

    
    .clock {
      margin: 0 $spacer 0 0;
      button {
        all: unset;
      }
    }

    .battery {
      margin: 0 $spacer 0 0;
    }

    .tray {
      button {
        all: unset;
        margin: 0 $spacer 0 0;
      }
    }


    .wifi {
      margin: 0 3px 0 0;
      button {
        all: unset;
      }
    }

  }
}


