@define-color base #1C2030;
@define-color blue #8C9FE9;
@define-color lavender #B4BEFE;
@define-color white #E0E0FF;


window.bar {
  background-color: transparent;
  color: @white;
}
box.center, box.right {
	border-radius: 10px;
  background-color: @base;
}

.workspaces {
	margin-left: 3px;
	margin-right: 3px;
}

.workspaces button {
  min-width: 0;
	margin: 3px;
	padding: 0;
  background-color: @base;
	border: none
}

.workspaces button:hover {
	border: none;
}

.workspaces button:hover label {
	color: @lavender;
}

.workspaces label {
	border: none;
  color: grey;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
  background-color: @base;
}

.workspaces button label.focused {
	color: @white;
}

.workspaces button label.active {
	color: @blue;
}

.client-title {
	color: @white;
}

.notification {
	color: @blue;
}

levelbar block,
highlight {
	min-height: 10px;
}

button.media label {
	color: @white;
	background-color: @base;
	border-radius: 10px;
	border: 1px solid @white;
}

.tray {
	margin-left: 5px;
}

.tray button {
  min-width: 0;
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
  background-color: transparent;
	border: none;
}

.trayItem {
  background-color: @base;
	color: @base;
	font-size: 20px;
}

.clock {
	min-width: 100px;
	margin-right: 10px;
}

.clockButton {
  min-width: 0;
	min-height: 0;
	padding: 0;
  background-color: transparent;
	border: none;
}
